
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
 
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .wrap-table {
    width: 95%;
    /* max-width: 960px; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 20px;
    margin: 0 auto;
    margin-top: 50px !important;
  }
  
  .search-input {
    width: 30% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: auto;
  }

  .personal-styles {
    --table-display: table;
    --table-additional-font-family: "Oswald", sans-serif;
    --table-base-width: 100%;
    --table-base-text-transform: uppercase;
    --table-base-display: block;
    --table-base-line-height: 1.2;
    --table-row-display: table-row;
    --table-row-padding: 0;
    --table-row-border-bottom: none;
    --table-last-row-border: none;
    --table-cell-display: table-cell;
    --table-common-cell-1-width: 300px;
    --table-common-cell-2-width: 200px;
    --table-common-cell-3-width: 200px;
    --table-common-cell-4-width: 200px;
    --table-common-cell-1-padding: 0 0 0 40px;
    --table-cell-border-bottom: 1px solid #f2f2f2;
    --table-cell-padding: 20px 0px 20px 0;
    --table-cell-font-size: 16px;
    --table-cell-color: #666;
    --table-header-display: table-row;
    --table-header-bgcolor: #7a90ff;
    --table-header-cell-display: table-cell;
    --table-header-cell-padding: 20px 0px 20px 0;
    --table-header-cell-font-size: 18px;
    --table-header-cell-color: #fff;
  }
  
  .table {
    width: var(--table-base-width);
    display: var(--table-display);
  }
  
  .table__header {
    background: var(--table-header-bgcolor);
    width: var(--table-base-width);
    display: var(--table-header-display);
  }
  

  .table__header__cell {
    display: var(--table-cell-display);
    font-size: var(--table-header-cell-font-size);
    color: var(--table-header-cell-color);
    line-height: var(--table-base-line-height);
    padding: var(--table-header-cell-padding);
    text-transform: var(--table-base-text-transform);
    font-family: var(--table-additional-font-family);
  }
  
  
  .table__row {
    display: var(--table-row-display);
    background: #fff;
    width: var(--table-base-width);
    padding: var(--table-row-padding);
    border-bottom: var(--table-row-border-bottom);
  }
  
  .table__last-row {
    border: var(--table-last-row-border);
  }
  
  .table__cell {
    display: var(--table-cell-display);
    font-size: var(--table-cell-font-size);
    color: var(--table-cell-color);
    line-height: var(--table-base-line-height);
    padding: var(--table-cell-padding);
    border-bottom: var(--table-cell-border-bottom);
  }
  
  .table__common-cell-1 {
    width: var(--table-common-cell-1-width);
    padding: var(--table-common-cell-1-padding);
  }
  
  .table__common-cell-2 {
    width: var(--table-common-cell-2-width);
  }
  
  .table__common-cell-3 {
    width: var(--table-common-cell-3-width);
  }
  
  .table__common-cell-4 {
    width: var(--table-common-cell-3-width);
  }
 

  @media (max-width: 768px) {

    .category{
      margin-top:-30px;
    }
    .personal-styles {
      --table-display: block;
      --table-cell-border-bottom: none;
      --table-cell-padding: 16px 0px 16px 30px;
      --table-cell-font-size: 16px;
      --table-row-display: block;
      --table-cell-display: block;
      --table-header-display: none;
      --table-header-cell-display: none;
      --table-common-cell-1-width: 100%;
      --table-common-cell-2-width: 100%;
      --table-common-cell-3-width: 100%;
      --table-common-cell-4-width: 100%;
      --table-common-cell-1-padding: 30px;
      --table-row-padding: 30px 15px 18px 0px;
      --table-row-border-bottom: 3px solid #e8e4e4;
    }
  
    .table__cell table__common-cell-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: o auto;
    }
    .table__cell:before {
      font-size: 16px;
      color: #525252;
      line-height: var(--table-base-line-height);
      text-transform: var(--table-base-text-transform);
      margin-bottom: 13px;
      content: attr(data-title);
      min-width: 98px;
      display: var(--table-base-display);
      font-family: var(--table-additional-font-family);
    }

    .wery-bir-box{
      display: flex;
      flex-direction: column;
    }

    .category p {
   
      margin: 5px 0 !important;
    }
    

    .header-top{
      width: 100% !important;
      
    }


    .search-language-container{
      width: 100% !important ;
    }
    .search-input{
      width: 70% !important;
    }
  }
  

  
  
  .add_product{
    width: 50%;
    background-color: red !important;
    display: flex;
    justify-content: center;

  }


  .add__product-box{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }



  



  @import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
  font-family: 'Open Sans', sans-serif;
}

body{
  background-size: cover; /* Rasmni to'liq qamrab olmasligi uchun */
  background-position: center; /* Rasmning o'rtasiga joylashish */
  /* background-image: url('../../images/pul24.jpg') !important;  */
  
 
}
/* Table */
.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-color: #DBE0EA;
  background: #DBE0EA !important;
  color: black;

}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
    margin: 0 auto;
  }

}

@media screen and (max-width: 500px) {
  .ammallar-box{
    display: flex !important; 
  }
  
  tbody tr {
    margin: 20px 0 !important;
  }
}


@media screen and (min-width: 600px) {

  .container h2{
    margin: 0 auto;
    background-color: gren;
  }
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
  
  tbody tr {
    margin: 20px 0 !important;
  }
  .total-sum{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
    padding-right: 0px !important;
    text-align: center;
  }
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      /* justify-content: center; */
      /* margin: 0 auto; */
      margin-left: 50% !important;
  }
  
}

/* Basic Styling */
.parol-container {
  background-image: url('../../images/qul2.jpg'); /* Rasmini joylang */
  background-size: cover; /* Rasmi to'liq qoplansin */
  background-position: center; /* Rasmi o'rta bo'ylab joylang */
}


h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}

.container {
  display: block;
  text-align: center;

}
.container{
  /* width: 1400px; */
  margin: 0 auto;
  padding: 0 10px;
}

h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}

h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}

h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}

@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}

@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}

/* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  padding: 10px 20px !important;
}



.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Additional Button Styles */
.add__button {
  background-color: #428bca;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add__button:hover {
  background-color: #45a049;
}

/* Additional Link Styles */
.link {
  background-color: rgb(0, 55, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(0, 45, 205);
}

/* Additional Table Styles */
td button {
  background-color: #4c63af;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 12px;
}

td button:hover {
  background-color: #7a45a0;
}

/* Additional Input Styles */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
}

/* Additional Button Styles */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}



.add__button{

}


.search__box{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;

}
.telefon-raqam{
  margin-top: 25px;
}


.telefon-raqam-inp{
  background-color: white;
  border: none;
  
}


.telefon-raqam-inp {
  width: 100%; /* Inputning to'liq eni */
  padding: 8px; /* Haroratlash uchun o'lchamlar */
  border: 1px solid #ccc; /* Inputning chetida ramka */
  border-radius: 4px; /* Inputning kengaytmasi */
  margin-bottom: 10px; /* Pastga bo'shliq qoldirish */
  box-sizing: border-box; /* Border va padding ni hisoblash usuli */
}

/* Agar kerak bo'lsa, inputga ishora qilib ko'rsatiladigan stil */
.telefon-raqam-inp:focus {
  outline: none; /* Fokus bilan bog'liq chiziqni o'chirish */
  border-color: #007bff; /* Fokuslangan input uchun ramka rangi */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Fokuslangan input uchun kengaytma */
}

.vaqt{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #d60707;
}

.telefon-raqam-kiritish{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
}


.vaqt {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
}


.container h2{
  color: red;
  text-align: right;
  padding-right: 100px;
}


.ismdagi {
  font-weight: bold;
  color: blue;
}

.mazilga {
  font-style: italic;
  color: green;
}

.qolganlariga {
  text-decoration: underline;
  color: purple;
}




.bekorqilish{
  background-color: red !important;
}


/* Product.css */

/* Modal styles */
.modal {
  display: none; /* Modal default hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 1px solid #ddd;
}

.table__header {
  /* background-color: #f2f2f2; */
  font-weight: bold;
}

.table__header__cell,
.table__cell {
  padding: 8px;
  text-align: left;
}

/* Add and Delete button styles */
.add_product,
.edit-button,
.delete-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add_product:hover,
.edit-button:hover,
.delete-button:hover {
  background-color: #45a049;
}

.add_product:active,
.edit-button:active,
.delete-button:active {
  background-color: #3e8e41;
}


button{
  background-color: #007bff !important;
} .modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0); /* Set background color to transparent */
}



.modal-content input {
  margin-bottom: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bekorqilish {
  background-color: red;
  color: white;
}

.editDollar{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

tr:hover{
  background-color: #eeecec !important;
}

.table__row:hover{
  background-color: #eeecec  !important;

}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Adjust the percentage to control vertical positioning */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Adjust the width as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto !important;
}



.searchbtn-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.searchbtn-box input , button{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_product {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
}

.editDollar {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height:50px !important;
  background-color: red !important;
  margin: 10px auto; /* Agar so'rovnoma bilan orasida bosig'iz bo'lsa */
}

.searchbtn-box-product{
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbtn-box-product button{
/* background-color:  !important; */
width: 50%;
height: 50px;
}


.dollar-title{
  font-weight: bold !important;
  font-size: 20px;
  text-align: center;
  color: #45a049;
}



.wery-bir-box{
  display: flex;
}


.category {
  background-color: #0E1628; /* Set green background */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; /* Add some bottom margin */
  height: 100%;
}

.category p {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  margin: 15% 0;
}

.category p:hover {
  color: black; /* Change text color to black on hover */
}


.category p:hover{
background-color: white;
  
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
 /* kategoraylar degan button bo'lsin button bosilganda modal chiqsin ko'rinsin modalni ichida manzilalr bo'lsin qorliq jobu iopq oqratepa markaz  qaysi manzil bosilsa shu malumto bilan kiritilsgan malumotlar korinisn bosigladan keyin malumot searchga yuborilsin searchdan izlansin qidirilsin va shu malumotlar ko'rinsin */


 /* ikkinchi malumot bosilsa birinchi malutmo searchdan o'chirslin boshqa malumot bosilsa unda oldingi malumot o'chiroslin */
 






.nav-wrapper {
  /* Add your styles for the navigation wrapper */
}

.sl-nav {
  /* Add your styles for the language selector navigation */
}

.sl-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sl-nav ul li {
  display: inline-block;
  position: relative;
}

.sl-nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  z-index: 1;
}

.sl-nav ul li:hover ul {
  display: block;
}

.sl-nav ul li ul li {
  display: block;
}

.sl-nav ul li ul li:hover {
  background-color: #f0f0f0;
}

.sl-flag {
  display: inline-block;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin-right: 5px;
  vertical-align: middle;
}


.search-input{
  height: 50px !important;
 
  border: 1 px solid rgb(99, 99, 98);
  /* border: none; */
  padding: 20px;
}

.search-language-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.table-big-box{
  width: 90% !important;
}


/* table th,
table td {
  border: 1px solid #dddddd !important; 
  padding: 8px;
  text-align: left;
} */


